<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <link rel="stylesheet" href="css/meals.css">
</head>
<body>
    <main class="dashboard">
      <article class="restaurant-panel">
        <nav class="nav-bar">
          <a href="#" class="title">Torados</a>
        </nav>
        <header class="welcome-banner">
          <img src="svg/meals1.svg" class="delivery" alt="">
          <h1>$0 delivery for 30 days!&nbsp;&nbsp;🎉</h1>
          <p>$0 delivery fee for orders over $10 for 30 days</p>
          <a href="#" class="learn-more">Learn more
            <svg width="18" height="18" class="arrow" viewBox="0 0 24 24">
              <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" /></svg></a>
        </header>
        <section class="section" id="restaurants">
          <div class="section-titles">
            <div class="section-title">Restaurants&nbsp;🍔</div>
            <button class="btn btn-danger btn-round date-select">
              <svg t="1586139290823" class="clock" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                p-id="2356" width="18" height="18">
                <path
                  d="M512 42.65984q95.66208 0 182.49728 37.1712t149.66784 100.00384 100.00384 149.66784 37.1712 182.49728-37.1712 182.49728-100.00384 149.66784-149.66784 100.00384-182.49728 37.1712-182.49728-37.1712-149.66784-100.00384-100.00384-149.66784-37.1712-182.49728 37.1712-182.49728 100.00384-149.66784 149.66784-100.00384 182.49728-37.1712zM512 128q-78.00832 0-149.17632 30.49472t-122.49088 81.83808-81.83808 122.49088-30.49472 149.17632 30.49472 149.17632 81.83808 122.49088 122.49088 81.83808 149.17632 30.49472 149.17632-30.49472 122.49088-81.83808 81.83808-122.49088 30.49472-149.17632-30.49472-149.17632-81.83808-122.49088-122.49088-81.83808-149.17632-30.49472zM512 213.34016q17.67424 0 30.16704 12.4928t12.4928 30.16704l0 238.32576 115.67104 115.32288q12.32896 12.32896 12.32896 30.33088t-12.32896 30.33088-30.33088 12.32896-30.33088-12.32896l-128-128q-12.32896-12.32896-12.32896-30.33088l0-256q0-17.67424 12.4928-30.16704t30.16704-12.4928z"
                  p-id="2357"></path>
              </svg><span>Delivery: Now</span><svg t="1586139384370" class="chevron" viewBox="0 0 1024 1024" version="1.1"
                xmlns="http://www.w3.org/2000/svg" p-id="1254" width="18" height="18">
                <path
                  d="M316.16 366.08 512 561.92 707.84 366.08 768 426.666667 512 682.666667 256 426.666667 316.16 366.08Z"
                  p-id="1255"></path>
              </svg>
            </button>
          </div>
          <!-- All categories of meals section -->
          <div class="categories">
            <ul class="category-list">
              <li class="category-list__item" id="pizza">
                <a href="#pizza" >
                  <div class="category-icon">
                    <img src="svg/pizza.svg" class="icon" alt="pizza">
                  </div>
                  <div class="category-name">Pizza</div>
                </a>
              </li>
              <li class="category-list__item" id="asian">
                <a href="#asian" id="">
                  <div class="category-icon">
                    <img src="svg/asian.svg" class="icon"  alt="asian">
                  </div>
                  <div class="category-name">Asian</div>
                </a>
              </li>
              <li class="category-list__item" id="burgers">
                <a href="#burgers">
                  <div class="category-icon">
                    <img src="svg/burger.svg" class="icon" alt="burgers">
                  </div>
                  <div class="category-name">Burgers</div>
                </a>
              </li>
              <li class="category-list__item" id="bbq">
                <a href="#bbq">
                  <div class="category-icon">
                    <img src="svg/bbq.svg" class="icon" alt="bbq">
                  </div>
                  <div class="category-name">Barbecue</div>
                </a>
              </li>
              <li class="category-list__item" id="dessers">
                <a href="#dessers">
                  <div class="category-icon">
                    <img src="svg/dessert.svg" class="icon" alt="desserts">
                  </div>
                  <div class="category-name">Desserts</div>
                </a>
              </li>
              <li class="category-list__item" id="thai">
                <a href="#thai">
                  <div class="category-icon">
                    <img src="svg/thai.svg" class="icon" alt="thai">
                  </div>
                  <div class="category-name">Thai</div>
                </a>
              </li>
              <li class="category-list__item" id="sushi">
                <a href="#sushi">
                  <div class="category-icon">
                    <img src="svg/sushi.svg" class="icon" alt="sushi">
                  </div>
                  <div class="category-name">Sushi</div>
                </a>
              </li>
            </ul>
          </div>
        </section>
        <!-- Section for showing all the meals -->
        <section class="section">
          <ul class="restaurant-list" id="sushi-click" style="display:none ;">     
            <% meals.forEach(meal => { %>
              <% if(meal.category == "sushi") { %>
                <li class="restaurant-list__item">
                  <a href="#"><img class="restaurant-image" src="img/<%= meal.category %>/<%= meal.image %>" /></a>
                  <div class="restaurant-name" style="font-weight:bolder"><%= meal.name %></div>
                  <div class="restaurant-info" style="display:flex; flex-direction:row ">
                    <span class="restaurant-category" ><%= meal.price %></span>
                    <button data-meal="<%= JSON.stringify(meal) %>" class="btn-6">Add to Cart</button>
                  </div>
                </li>
            <% } %>
            <% }) %>
          </ul>
          <ul class="restaurant-list" id="pizza-click" style="display:grid;">       
            <% meals.forEach(meal => { %>
              <% if(meal.category == "pizza") { %>
            <li class="restaurant-list__item">
              <a href="#"><img class="restaurant-image" src="img/<%= meal.category %>/<%= meal.image %>" /></a>
              <div class="restaurant-name" style="font-weight:bolder"><%= meal.name %></div>
              <div class="restaurant-info" style="display:flex; flex-direction:row ">
                <span class="restaurant-category" ><%= meal.price %></span>
                <button data-meal="<%= JSON.stringify(meal) %>" class="btn-6">Add to Cart</button>
              </div>
            </li>
            <% } %>
            <% }) %>
          </ul>
          <ul class="restaurant-list" id="asian-click" style="display:none ;">
            <% meals.forEach(meal => { %>
              <% if(meal.category == "asian") { %>
                <li class="restaurant-list__item">
                  <a href="#"><img class="restaurant-image" src="img/<%= meal.category %>/<%= meal.image %>" /></a>
                  <div class="restaurant-name" style="font-weight:bolder"><%= meal.name %></div>
                  <div class="restaurant-info" style="display:flex; flex-direction:row ">
                    <span class="restaurant-category" ><%= meal.price %></span>
                    <button data-meal="<%= JSON.stringify(meal) %>" class="btn-6">Add to Cart</button>
                  </div>
                </li>
            <% } %>
            <% }) %>
          </ul>
          <ul class="restaurant-list" id="burger-click" style="display:none ;">     
            <% meals.forEach(meal => { %>
              <% if(meal.category == "burger") { %>
                <li class="restaurant-list__item">
                  <a href="#"><img class="restaurant-image" src="img/<%= meal.category %>/<%= meal.image %>" /></a>
                  <div class="restaurant-name" style="font-weight:bolder"><%= meal.name %></div>
                  <div class="restaurant-info" style="display:flex; flex-direction:row ">
                    <span class="restaurant-category" ><%= meal.price %></span>
                    <button data-meal="<%= JSON.stringify(meal) %>" class="btn-6">Add to Cart</button>
                  </div>
                </li>
            <% } %>
            <% }) %>
          </ul>
          <ul class="restaurant-list" id="barbeque-click" style="display:none ;">       
            <% meals.forEach(meal => { %>
              <% if(meal.category == "barbeque") { %>
                <li class="restaurant-list__item">
                  <a href="#"><img class="restaurant-image" src="img/<%= meal.category %>/<%= meal.image %>" /></a>
                  <div class="restaurant-name" style="font-weight:bolder"><%= meal.name %></div>
                  <div class="restaurant-info" style="display:flex; flex-direction:row ">
                    <span class="restaurant-category" ><%= meal.price %></span>
                    <button data-meal="<%= JSON.stringify(meal) %>" class="btn-6">Add to Cart</button>
                  </div>
                </li>
            <% } %>
            <% }) %>
          </ul>
          <ul class="restaurant-list" id="dessert-click" style="display:none ;">   
            <% meals.forEach(meal => { %>
              <% if(meal.category == "dessert") { %>
                <li class="restaurant-list__item">
                  <a href="#"><img class="restaurant-image" src="img/<%= meal.category %>/<%= meal.image %>" /></a>
                  <div class="restaurant-name" style="font-weight:bolder"><%= meal.name %></div>
                  <div class="restaurant-info" style="display:flex; flex-direction:row ">
                    <span class="restaurant-category" ><%= meal.price %></span>
                    <button data-meal="<%= JSON.stringify(meal) %>" class="btn-6">Add to Cart</button>
                  </div>
                </li>
            <% } %>
            <% }) %>
          </ul>
          <ul class="restaurant-list" id="thai-click" style="display:none ;">      
            <% meals.forEach(meal => { %>
              <% if(meal.category == "thai") { %>
                <li class="restaurant-list__item">
                  <a href="#"><img class="restaurant-image" src="img/<%= meal.category %>/<%= meal.image %>" /></a>
                  <div class="restaurant-name" style="font-weight:bolder"><%= meal.name %></div>
                  <div class="restaurant-info" style="display:flex; flex-direction:row ">
                    <span class="restaurant-category" ><%= meal.price %></span>
                    <button data-meal="<%= JSON.stringify(meal) %>" class="btn-6">Add to Cart</button>
                  </div>
                </li>
            <% } %>
            <% }) %>
          </ul>
        </section>
      </article>
      <article class="order-panel">
        <header class="user-info">
          <img src="svg/cart.svg" class="icon" alt="cart">
          <button id="cart-counter" class="btn btn-warning buy-count"><%= session.cart ? session.cart.totalQty : 0 %></button>
        </header>
        <section class="section" id="order">
          <div class="section-title">My Order&nbsp;😎</div>
          <div class="order-info">
            <div class="address">
              <div class="address-name">Home Address</div>
              <a href="#" class="address-edit">Edit</a>
            </div>
            <div class="delivery">
              <div class="delivery-time">
                <button class="btn time-btn">
                  <img src="svg/clock.svg" class="clock" alt="clock">
                </button>
                <span class="time">35min</span>
              </div>
              <a href="#" class="delivery-choose-time">Choose time</a>
            </div>
          </div>
          <ul class="food-list">
            <% if(session.cart) { %>
            <!-- for getting all the added meals to cart by the user -->
            <% for (let meal of Object.values(session.cart.items)) { %>
            <li class="food-list__item">
              <img class="food-image" src="img/<%= meal.item.category %>/<%= meal.item.image %>"  />
              <div class="food-buy-amount" id="food-buy-amount-new"><%= meal.qty %> x</div>
              <div class="food-name"><%= meal.item.name %></div>
              <div class="food-price"><%= meal.item.price * meal.qty%></div>
            </li>
            <% } %>
            <% } %>
            <li class="food-list__item">
              <img class="food-image" src="https://i.loli.net/2020/04/06/BN2JIuHAC6Gh3eR.png" />
              <div class="food-name">Delivery</div>
              <div class="food-price">$0.00</div>
            </li>
          </ul>
          <div class="total-price">
            <div class="total">Total:</div>
            <!-- Total price of selected meals by the user -->
            <div class="price"><%= session.cart ? session.cart.totalPrice : 0  %></div>
          </div>
          <div class="buy-action">
            <div class="person-number-input">
              <div class="persons">Persons</div>
              <div class="input-group input-spinner">
                <button class="btn minus" onclick="document.querySelector('#count').value--">
                  <img src="svg/minus.svg" class="icon" alt="minus">
                </button>
                <input type="text" readonly value="0" class="form-control" id="count" />
                <button class="btn plus" onclick="document.querySelector('#count').value++">
                  <img src="svg/plus.svg" class="icon" alt="plus">
                </button>
              </div>
            </div>
            <button class="btn btn-warning checkout-btn" id="checkout">
              Checkout<svg width="18" height="18" class="arrow" viewBox="0 0 24 24">
                <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
              </svg>
            </button>
          </div>
        </section>
      </article>
    </main>
  </body>
  <script src="/jquery/jquery.js"></script>
  <script src="js/meals.js"></script>
</html>